@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(https://db.onlinewebfonts.com/c/596409e7700d7e9cd94f9df5a8b1b477?family=CircularSpUIv3T-Black);
.flex{
    display: flex;
}
.border{
    border: 2px solid black;
}
.radius{
    border-radius:10px ;
}
.bgcolor{
    background-color:#121212 ;
}
.margin{
    margin:8px ;
}
.padding{
    padding:25px ;
}
.font{
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(183, 183, 183);
}
.font2{
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: rgb(255, 255, 255);
}
.font:hover{
    transition: all ease-in-out 0.3s;
    color: rgb(255, 254, 254);
}
.center{
    justify-content: center;
    align-items: center;
}
.font3{
    font-size: 0.7rem;
    font-family: "CircularSpUIv3T-Black";
    color: rgb(183, 183, 183);
}

/* --------------------------- */
.songs::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.songs::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.songs::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.songs::-webkit-scrollbar-thumb:hover {
    background: #555;
}

table tr td {
    display: block;
}

body::-webkit-scrollbar {
    width: 10px;
}

/* Track */
body ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: #555;
}